@import '../../../../../assets/variable';

.blue {
    color: $main-color
}

.bold {
    font-weight: bold !important;
}

.carstatus-container {
    &__upimg:hover {
        color: white;
        background-color: $text-green-color !important;
        border-color: $text-green-color !important;
    }

    &__img {
        height: auto; 
        width: auto; 
        max-height: 700px; 
        max-width: 700px;
        align-self: center;
    }

    &__carname {
        letter-spacing: 0.8px !important;
        font-weight: bold !important;
        color:$main-color;
        text-transform: uppercase;
    }

    &__text {
        font-size: 18px !important;
    }
}