@import '../../../../assets/variable';

.rentalhistory-container {
    height: 608px;
    width: 1065px;
    border-radius: 5px;
    border-style: solid;
    border-color: $main-lighter-color;
    border-width: 1px;
    overflow-y: auto;
    background-color: $main-grey-color;
}

.rentalhistory-container-item {
    width: 1032px;
    min-height: 144px;
    border-radius: 5px;
    background-color: white;

    &__img {
        height: 140px;
    }

    &__name {
        padding-bottom: 5px;
    }

    &__option {
        padding-bottom: 10px;
    }
    
    &__rebook:hover {
        color:white;
        background-color: $text-green-color !important;
        border-color: $text-green-color !important;
    }

    &__favorite:hover {
        color: white;
        background-color: $orange-color !important;
        border-color: $orange-color !important;
    }

}