@import '../../../../assets/variable';

.datelocationfillter-container {
    width: 1203px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-color: $main-lighter-color;
    border-width: 1px;
    background-color: white;
    &__text {
        color:$main-lighter-color;
    }
}

