@import '../../../assets/variable';

.recommend-item-container {
	cursor: pointer;
	&__img {
		height: 190px;
		width: 307px;
		object-fit: cover;
		align-self: center;
	}

	&__icon {
		position: relative;
		top: 4px;
	}
}
