@import '../../../../assets/variable';
.fillter-container {
    background-color: #FFF;
    height: 660px;
    width: 390px;
    border-radius: 5px;
    border-style: solid;
    border-color: $main-lighter-color;
    border-width: 1px;

    &__text {
        color: $main-lighter-color;
        padding-bottom: 5px;
    }

    &__button {
        width: 100%;
    }

    
}