@import '../../../../assets/variable';

.carmanagement-container {
    height: 876px;
    width: 1065px;
    border-radius: 5px;
    border-style: solid;
    border-color: $main-lighter-color;
    border-width: 1px;
    background-color: $main-grey-color;
    overflow-y: auto;
}

