@import '../../assets/variable';

.blue {
    color: $main-color
}

.bold {
    font-weight: bold !important;
}

.carstatusupdate-container {
    &__img {
        height: auto; 
        width: auto; 
        max-height: 800px; 
        max-width: 800px;
    }

    &__carname {
        letter-spacing: 0.8px !important;
        font-weight: bold !important;
        color:$main-color;
        text-transform: uppercase;
    }

    &__upimg:hover {
        color:white;
        background-color: $text-green-color !important;
        border-color: $text-green-color !important;
    }
    &__upvideo:hover {
        color:white;
        background-color: $text-green-color !important;
        border-color: $text-green-color !important;
    }

    &__update:hover {
        background-color: #119211 !important;
    }
}