// main color
$main-color: #11296B;
$main-yellow-color: #FFCB05;
$main-yellow-lighter-color: #FFDB57;
$main-lighter-color:#00509D;
$main-white-color:#EDEDED;
$main-grey-color: #e8eaef;
$text-grey-color: #a8a8a8;
$text-black-color: #141414;
$text-greyer-color: #3C4048;
$text-green-color: #10a310;
$darker-green: #0e940e;
$orange-color: #FF731D;
$red-color: #DD5353;
//header color

:export {
    maincolor: $main-color;
    mainlightercolor: $main-lighter-color;
    mainyellowcolor:$main-yellow-color;
    mainyellowlightercolor:$main-yellow-lighter-color;
    mainwhitecolor:$main-white-color;
    maingreycolor: $main-grey-color;
    textgreycolor: $text-grey-color;
    textgreencolor: $text-green-color;
    orangecolor: $orange-color;
    redcolor: $red-color;
    textgreyercolor: $text-greyer-color;
    textblackcolor: $text-black-color;
    darkergreen: $darker-green;
}