@import '../../../../assets/variable';

.carlist-container {
    width: 789px;
    height: 750px;
    border-radius: 5px;
    overflow-y: auto;
    border-style: solid;
    border-color: $main-lighter-color;
    border-width: 1px; 
}
