@import '../../../../assets/variable';

.carlist-container {
    width: 789px;
    height: 750px;
    border-radius: 5px;
    overflow-y: auto;
    border-style: groove;
    border-color: $main-lighter-color;
    border-width: 2px; 
}

.caritem-container {
    width: 758px;
    min-height: 144px;
    border-radius: 5px;
    background-color: white;

    &__img {
        height: 140px;
    }

    &__name {
        padding-bottom: 5px;
    }

    &__option {
        padding-bottom: 10px;
    }

    &__button:hover {
        color:white;
        background-color: $text-green-color !important;
        border-color: $text-green-color !important;
    }
   
}
