@import '../../assets/variable';


.leftnavigation-container {
    background-color: white;
    width: 350px;
    height: 100%;

    &__name {
        color: $main-lighter-color;
        font-weight: 400;
    }

    &__email {
        font-size: 14px !important;
    }

    &__phone {
        letter-spacing: 0.6px !important;
        font-weight: 600 !important;
        font-size: 14px !important;
    }
}