@import 'assets/variable';

.react-chatbot-kit-chat-container {
    position: fixed ;
    z-index: 11;
    bottom: 33px;
    right: 80px;
    width: 320px;
    display: none;
}

.react-chatbot-kit-chat-header {
    background-color: $main-color;
    color: white;
}

.react-chatbot-kit-chat-bot-message {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.chat-icon {
    position: fixed;
    z-index: 11;
    height: 55px;
    bottom: 30px;
    right: 20px;
}