@import '../../../../../assets/variable';

.rentalhistory-container-item {
    width: 1032px;
    min-height: 310px;
    border-radius: 5px;
    background-color: white;

    &__img {
        height: auto; 
        width: auto; 
        max-height: 310px; 
        max-width: 415px;
    }

    &__name {
        padding-bottom: 8px;
    }

    &__option {
        padding-bottom: 8px;
    }
    
    &__rebook:hover {
        color:white;
        background-color: $text-green-color !important;
        border-color: $text-green-color !important;
    }

    &__details:hover {
        color: white;
        background-color: $blue-color !important;
        border-color: $blue-color !important;
    }

    &__location {
        color: $text-green-color;
        padding-bottom: 8px;
    }

    &__icon {   
        position: relative;
        top: 3px;
    }

    &__updatestatus:hover {
        color: white;
        background-color: $orange-color !important;
        border-color: $orange-color !important;
    }
}